.mini-navbar{
    display: flex;
    width: 90%;
    margin: auto;
    
}

form{
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.search-bar{
    width: 60vmax;
    border-radius: 20px;
    padding: 14px;
    margin:5px
        
}


.Saarch-btn{
    border-radius: 10px;
    border: solid purple 2px;
    background-color: white;
    color: purple;
    margin:5px
}

.search-bar input{
    font-size:16px;
}


.text{
    margin-left: 110px;
    
}

h4{
    font-size: 16px;
    font-weight: 400;
}

.communities{
    margin-top: 30px;
}

.last-section{
    margin: 30px;
    text-align: center;
 
}


.last-text{
    font-size: 18px;
}


.Ex-btn{
    margin-top: 10px;
    background-color: purple;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.modal-container{
    width: 888px;
    height: 610px;
    position: fixed;
    padding: 20px;
    top: 50%;
    left: 50%;
    /* background-color: rgba(0,0,0,0.5); */
    background-color: gray  ;
    transform: translate(-50%, -50%);
}


.modalclose{
    display: flex;
    width: 850px;
    justify-content: space-between;
}

.close-btn{
    height: 40px;
    background-color: transparent;
    border: none;
    font-size: larger;
    top: -10px;
    
}
/* .modal-container p {
    color: gray;
} */

.modal-container h4 {
    font-weight: 500;
}

.modal-container input{
    width: 100%;
    height: 100px;
}


.community-description{
    margin: 20px 0;
}